{
  "openapi": "3.0.3",
  "info": {
    "title": "Passolution Dataservice API",
    "version": "2.0.0",
    "contact": {
      "name": "Passolution",
      "url": "https://passolution.eu",
      "email": "info@passolution.eu"
    },
    "description": "The Passolution Dataservice API is a RESTful interface to retrieve entry requirements, visa regulations, health information and more.<br/><br/>\n\n## TARGET GROUP\nThis description is suitable for suppliers of front and back office systems, as well as tour operators and OTAs who wish to deliver data from Passolution within the framework of the EU Package Travel Directive via their systems to travel agencies or end customers.<br/><br/>\n\n## AVAILABLE LANGUAGES\nThe required data can be supplied in different languages. Currently the following languages are supported:\n* German\n* English\n* French\n* Italian\n* Spanish\n* Dutch\n* Portuguese\n* Polish\n* Russian\n* Bulgarian\n* Czech\n* Danish\n* Greek\n* Finnish\n* Hungarian\n* Norwegian\n* Romanian\n* Slovak\n* Slovenian\n* Swedish\n* Turkish\n<br/>\n<br/>\n## API REQUESTS\nThe API is stateless. Requests to the API are made using HTTP GET & POST requests. The API uses the JSON format as output.<br/><br/>\n\n## AUTHENTICATION\nThe API implements OAuth 2 specification for authentication and authorization for private use and for providing services to Passolution clients.\n\\\nIf you wish to provide services to our clients, kindly contact us to get your OAuth details (Client ID & Secret) which you will need for requesting access to API on a client's behalf.<br/><br/>\n\n## OAUTH ENDPOINTS\n***Authorization URL***: https://web.passolution.eu/oauth/authorize\\\n***Token URL***: https://web.passolution.eu/oauth/token\\\n***Token Refresh URL***: https://web.passolution.eu/oauth/token/refresh<br/><br/>\n\n## HTTP STATUS CODES\n| Code | Meaning | Description |\n| ------- | ------- | --------|\n| 200 | OK | The API request is successful. |\n| 204 | NO CONTENT | There is no content available for the request. |\n| 401 | AUTHORIZATION ERROR | Invalid credentials used. |\n| 403 | FORBIDDEN | No permission to do the operation. |\n| 404 | METHOD NOT ALLOWED | The specified method is not allowed. |\n| 429 | TOO MANY REQUESTS | Number of API requests for the 24 hour period is exceeded or the concurrency limit of the user for the app is exceeded. |\n| 500 | INTERNAL SERVER ERROR | Generic error that is encountered due to an unexpected server error. |\n<br/>\n## TEST ACCESS DATA\nTo test the API, kindly request an Access Token by contacting us.\n<br/>\n<br/>\n## QUERY OPTION FOR TEST VERSION\nThe query options for the query with test access data are limited to 2 nationalities and 3 target areas.\n\nNationalities:\n* Germany (DE)\n* Austria (AT)\n\nTarget areas:\n* Turkey (TR)\n* South Africa (ZA)\n* United Arab Emirates (AE)\n<br/>\n<br/>\n## Any Questions?\n"
  },
  "servers": [
    {
      "url": "https://api.passolution.eu/api/v2"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "tags": [
          "Operations"
        ],
        "summary": "API Health Information",
        "description": "Get the API health status",
        "operationId": "checkHealth",
        "responses": {
          "default": {
            "description": "API Health Information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "boolean",
                          "default": false
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "healthy",
                            "unhealthy"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "requestid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique Request ID identifying this request."
                        },
                        "responsetime": {
                          "type": "number",
                          "description": "Time taken to generate response."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "security": [],
        "tags": [
          "Operations"
        ],
        "summary": "API Version Information",
        "description": "Get the API version number",
        "operationId": "checkVersion",
        "responses": {
          "default": {
            "description": "API Version Information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "boolean",
                          "default": false
                        },
                        "version": {
                          "type": "string",
                          "example": "V2.7"
                        },
                        "commit_hash": {
                          "type": "string",
                          "example": "eab87573"
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1health/get/responses/default/content/application~1json/schema/allOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/account/subscription": {
      "get": {
        "summary": "Subscription Information",
        "description": "Get Passolution Subscription Information",
        "operationId": "getAccountSubscription",
        "security": [],
        "tags": [
          "Account Information"
        ],
        "responses": {
          "200": {
            "description": "Account subscription information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "standard",
                        "premium"
                      ],
                      "example": "premium"
                    },
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "content.country",
                        "content.cruise",
                        "content.individual",
                        "content.tour_operator",
                        "customer.send_emails",
                        "customer.travel_detail_link.create",
                        "customer.travel_detail_link.manage",
                        "customer.travel_detail_link.advert.manage",
                        "customer.travel_detail_link.email_subscriptions",
                        "customer.travel_detail_link.inspiration.manage",
                        "customer.travel_detail_link.media.manage",
                        "embed.corona",
                        "subscription"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication information not provided or invalid."
          }
        }
      }
    },
    "/countries": {
      "get": {
        "summary": "Countries",
        "description": "",
        "operationId": "getAvailableCountries",
        "security": [],
        "tags": [
          "Basic Data"
        ],
        "parameters": [
          {
            "name": "code",
            "description": "2 character country code defined in ISO 3166-1",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort_by",
            "description": "Specify column to sort records by.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "code",
              "enum": [
                "code",
                "continent",
                "capital",
                "population",
                "area",
                "coastline",
                "currency",
                "governmentform",
                "dialingprefix",
                "birthrate",
                "deathrate",
                "lifeexpectancy"
              ]
            }
          },
          {
            "name": "sort_order",
            "description": "Specify order for sorting.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "description": "Specify page number to retrieve records of a particular page.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "active",
            "description": "get active records",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/countries/de/locations": {
      "parameters": [
        {
          "name": "zip_code",
          "description": "Get locations matching the given zip code.",
          "required": false,
          "in": "query",
          "schema": {
            "type": "string",
            "example": 12683
          }
        },
        {
          "name": "zip_codes",
          "description": "Get locations matching the given comma separated zip codes.",
          "required": false,
          "in": "query",
          "schema": {
            "type": "string",
            "example": "12683,78267"
          }
        },
        {
          "name": "limit",
          "required": false,
          "in": "query",
          "schema": {
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        }
      ],
      "get": {
        "summary": "Get Location Information",
        "operationId": "getCountryLocations",
        "tags": [
          "Basic Data"
        ],
        "responses": {
          "200": {
            "description": "Information of locations optionally filtered by zip code.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "locations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "Biesdorf"
                              },
                              "zip_code": {
                                "type": "integer",
                                "format": "int32",
                                "example": 12683
                              },
                              "state": {
                                "type": "string",
                                "example": "Berlin"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string",
                              "format": "url"
                            },
                            "prev": {
                              "type": "string",
                              "format": "url"
                            },
                            "next": {
                              "type": "string",
                              "format": "url"
                            },
                            "last": {
                              "type": "string",
                              "format": "url"
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "per_page": {
                              "type": "number",
                              "format": "int32"
                            },
                            "current_page": {
                              "type": "number",
                              "format": "int32"
                            },
                            "from": {
                              "type": "number",
                              "format": "int32"
                            },
                            "to": {
                              "type": "number",
                              "format": "int32"
                            },
                            "total": {
                              "type": "number",
                              "format": "int32"
                            },
                            "last_page": {
                              "type": "number",
                              "format": "int32"
                            },
                            "path": {
                              "type": "string",
                              "format": "url"
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "requestid": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Unique Request ID identifying this request."
                        },
                        "responsetime": {
                          "type": "number",
                          "description": "Time taken to generate response."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1account~1subscription/get/responses/401"
          }
        }
      }
    },
    "/nationalities": {
      "get": {
        "summary": "Nationalities",
        "description": "",
        "operationId": "getAvailableNationalities",
        "security": [],
        "tags": [
          "Basic Data"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1countries/get/parameters/1"
          },
          {
            "name": "sort_by",
            "description": "Specify column to sort records by.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/3"
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/4"
          },
          {
            "name": "active",
            "description": "get active records",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/languages": {
      "get": {
        "summary": "Languages",
        "description": "Get available languages. ",
        "operationId": "getAvailableLanguages",
        "security": [],
        "tags": [
          "Basic Data"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1countries/get/parameters/1"
          },
          {
            "name": "sort_by",
            "description": "Column to sort records by.",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "code",
              "enum": [
                "code",
                "content",
                "active"
              ]
            }
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/3"
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/4"
          },
          {
            "name": "active",
            "description": "get active records",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "default": {
            "description": "no response description was provided for this operation"
          }
        }
      }
    },
    "/auth/login/generate_link": {
      "get": {
        "summary": "Create a one time website login link for your users.",
        "operationId": "generateLoginLink",
        "tags": [
          "Automated Login"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "Page to redirect to after logging in the user.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "/"
            }
          },
          {
            "name": "username",
            "description": "Username to generate login link for. Only allowed when using account access token.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "user@example.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One time login link.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "description": "Username of user the login link belongs to.",
                          "example": "user@example.com"
                        },
                        "link": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "token": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1account~1subscription/get/responses/401"
          }
        }
      }
    },
    "/destinations": {
      "parameters": [
        {
          "name": "lang",
          "description": "Language code for response content.",
          "in": "query",
          "schema": {
            "type": "string",
            "default": "de",
            "example": "en",
            "enum": [
              "de",
              "en",
              "fr",
              "it",
              "nl",
              "pl",
              "es",
              "pt",
              "ru",
              "bg",
              "cs",
              "da",
              "el",
              "fi",
              "hu",
              "nb",
              "ro",
              "sk",
              "sl",
              "sv",
              "tr"
            ]
          }
        },
        {
          "name": "sort_by",
          "description": "Specify field to sort destinations by.",
          "required": false,
          "in": "query",
          "schema": {
            "type": "string",
            "default": "code",
            "enum": [
              "code",
              "name"
            ]
          }
        },
        {
          "$ref": "#/paths/~1countries/get/parameters/3"
        }
      ],
      "post": {
        "summary": "Get list of destinations filtered by various parameters.",
        "operationId": "getDestinations",
        "tags": [
          "Travel Information"
        ],
        "requestBody": {
          "description": "Specify filter params as request body. Additionally, specify fields that you need in response.",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "description": "Request Body",
                "type": "object",
                "properties": {
                  "entry": {
                    "type": "object",
                    "properties": {
                      "documents": {
                        "type": "object",
                        "description": "The 'document_code' key should be one of the document keys supported by API. The API will respond with list of allowed keys in error message if you send any arbitrary key.",
                        "properties": {
                          "document_code": {
                            "type": "object",
                            "properties": {
                              "entry_allowed": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "additional_info": {
                        "type": "object",
                        "properties": {
                          "list": {
                            "type": "object",
                            "properties": {
                              "registration": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "not_required",
                                      "required"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "visa": {
                    "type": "object",
                    "properties": {
                      "required": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "enum": [
                              "not_required",
                              "required"
                            ]
                          }
                        }
                      },
                      "application": {
                        "type": "object",
                        "properties": {
                          "foreign_representation": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "boolean"
                              }
                            }
                          },
                          "e_visa": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "boolean"
                              }
                            }
                          },
                          "on_arrival": {
                            "type": "object",
                            "properties": {
                              "available": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "health": {
                    "type": "object",
                    "properties": {
                      "risk_groups": {
                        "type": "object",
                        "properties": {
                          "pregnant": {
                            "type": "object",
                            "properties": {
                              "has_risk": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          },
                          "child": {
                            "type": "object",
                            "properties": {
                              "has_risk": {
                                "type": "boolean",
                                "example": false
                              }
                            }
                          }
                        }
                      },
                      "immunizations": {
                        "type": "object",
                        "description": "The 'immunization_code' key should be one of the immunization keys supported by API. The API will respond with list of allowed keys in error message if you send any arbitrary key.",
                        "properties": {
                          "immunization_code": {
                            "type": "object",
                            "properties": {
                              "required": {
                                "type": "boolean"
                              },
                              "recommended": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      },
                      "medication": {
                        "type": "object",
                        "properties": {
                          "information": {
                            "type": "object",
                            "description": "The 'information_code' key should be one of the keys supported by API. The API will respond with list of allowed keys in error message if you send any arbitrary key.",
                            "properties": {
                              "information_code": {
                                "type": "object",
                                "properties": {
                                  "status": {
                                    "type": "string",
                                    "enum": [
                                      "not_required",
                                      "required"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "fields": {
                    "type": "object",
                    "properties": {
                      "travel_advisory": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of matching destinations.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "destinations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "2 character country code defined in ISO 3166-1",
                                "example": "ES"
                              },
                              "name": {
                                "type": "string",
                                "description": "Destination name.",
                                "example": "Spain"
                              },
                              "travel_advisory": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "example": "inactive"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1account~1subscription/get/responses/401"
          }
        }
      }
    },
    "/information/search": {
      "post": {
        "summary": "Get travel information by nationalities and destinations. Optionally, get shareable link to the information.",
        "parameters": [
          {
            "$ref": "#/paths/~1destinations/parameters/0"
          },
          {
            "name": "destco",
            "description": "Travel destination country codes as array or comma separated.",
            "in": "query",
            "schema": {
              "type": "array",
              "example": [
                "TR",
                "ZA",
                "AE"
              ],
              "items": {
                "type": "string",
                "default": "",
                "minLength": 2,
                "maxLength": 2
              }
            }
          },
          {
            "name": "nat",
            "description": "Traveller nationality codes as array or comma separated.",
            "in": "query",
            "schema": {
              "type": "array",
              "example": [
                "DE",
                "AT"
              ],
              "items": {
                "type": "string",
                "default": "",
                "minLength": 2,
                "maxLength": 2
              }
            }
          },
          {
            "name": "return_regions",
            "description": "Return region / state codes (COUNTRY_CODE:REGION_CODE) as comma separated.",
            "in": "query",
            "schema": {
              "type": "array",
              "example": [
                "DE:BE",
                "DE:BW",
                "CH:ZH"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "states",
            "description": "Return state codes (Germany) as comma separated.",
            "in": "query",
            "schema": {
              "type": "array",
              "example": [
                "BE",
                "BW"
              ],
              "items": {
                "type": "string",
                "default": "",
                "minLength": 2,
                "maxLength": 2
              }
            }
          },
          {
            "name": "dest3l",
            "description": "Destination airport IATA codes as array or comma separated.",
            "in": "query",
            "schema": {
              "type": "array",
              "example": [
                "FRA",
                "LAX",
                "LHR"
              ],
              "items": {
                "type": "string",
                "minLength": 3,
                "maxLength": 3
              }
            }
          }
        ],
        "description": "***Note:*** Shareable link feature may not be enabled for your account.\n\\\n***Note:*** If shareable link is not required, a GET request can be made.\n",
        "operationId": "searchInformation",
        "tags": [
          "Travel Information"
        ],
        "requestBody": {
          "required": false,
          "description": "Provide trip information if you need shareable link with access to requested travel information.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trip": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "Trip Name"
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2020-01-01"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2020-01-01"
                      },
                      "reference": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 20
                      },
                      "note": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 255
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Travel Information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "request": {
                          "type": "object",
                          "properties": {
                            "destco": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "countryname": {
                                    "type": "string"
                                  },
                                  "countryname_en": {
                                    "type": "string"
                                  },
                                  "countryname_translated": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "nat": {
                              "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/request/properties/destco"
                            }
                          }
                        },
                        "response": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "additionalContent": {
                                  "type": "string"
                                },
                                "entry": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "version": {
                                      "type": "number"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "language": {
                                      "type": "string"
                                    },
                                    "headline": {
                                      "type": "string"
                                    },
                                    "content": {
                                      "type": "string"
                                    },
                                    "source": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "visa": {
                                  "allOf": [
                                    {
                                      "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/0/properties/entry"
                                    },
                                    {
                                      "type": "object",
                                      "properties": {
                                        "visa_required": {
                                          "type": "number"
                                        }
                                      }
                                    }
                                  ]
                                },
                                "transitvisa": {
                                  "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/0/properties/entry"
                                },
                                "inoculation": {
                                  "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/0/properties/entry"
                                }
                              }
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "additionalContent": {
                                    "type": "string"
                                  },
                                  "entry": {
                                    "type": "object",
                                    "properties": {
                                      "request": {
                                        "type": "object",
                                        "properties": {
                                          "nationality": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string"
                                              },
                                              "countryname": {
                                                "type": "string"
                                              }
                                            }
                                          },
                                          "country": {
                                            "type": "object",
                                            "properties": {
                                              "code": {
                                                "type": "string"
                                              },
                                              "countryname": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        }
                                      },
                                      "response": {
                                        "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/0/properties/entry"
                                      }
                                    }
                                  },
                                  "visa": {
                                    "allOf": [
                                      {
                                        "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/1/items/properties/entry"
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "response": {
                                            "type": "object",
                                            "properties": {
                                              "visa_required": {
                                                "type": "number"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  "transitvisa": {
                                    "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/1/items/properties/entry"
                                  },
                                  "inoculation": {
                                    "$ref": "#/paths/~1information~1search/post/responses/200/content/application~1json/schema/allOf/0/properties/response/oneOf/1/items/properties/entry"
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "trip_url": {
                          "type": "string",
                          "format": "url",
                          "example": "https://travel-details.eu/en?tid=ABCD-EFGH-IJKL"
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/information/share": {
      "post": {
        "summary": "Get link to share travel information easily.",
        "tags": [
          "Travel Information"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "default": "de",
                        "example": "en",
                        "enum": [
                          "de",
                          "en",
                          "fr",
                          "it",
                          "nl",
                          "pl",
                          "es",
                          "pt",
                          "ru",
                          "bg",
                          "cs",
                          "da",
                          "el",
                          "fi",
                          "hu",
                          "nb",
                          "ro",
                          "sk",
                          "sl",
                          "sv",
                          "tr"
                        ]
                      },
                      "destinations": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "string",
                              "minLength": 2,
                              "maxLength": 2
                            },
                            {
                              "type": "object",
                              "properties": {
                                "destination": {
                                  "$ref": "#/paths/~1information~1share/post/requestBody/content/application~1json/schema/allOf/0/properties/destinations/items/oneOf/0"
                                },
                                "type": {
                                  "type": "string",
                                  "default": "travel",
                                  "enum": [
                                    "travel",
                                    "transit"
                                  ]
                                }
                              }
                            }
                          ]
                        },
                        "example": [
                          "TR",
                          "ZA",
                          "AE"
                        ]
                      },
                      "nationalities": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "default": "",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        "example": [
                          "TR",
                          "ZA",
                          "AE"
                        ]
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "states": {
                        "type": "array",
                        "example": [
                          "BE",
                          "BW"
                        ],
                        "items": {
                          "type": "string",
                          "default": "",
                          "minLength": 2,
                          "maxLength": 2
                        }
                      },
                      "show_country_info": {
                        "description": "Specify if country information should be shown to visitors.",
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "trip": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "maxLength": 255,
                            "example": "Trip Name"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-01-01"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date",
                            "example": "2020-01-01"
                          },
                          "reference": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 20
                          },
                          "note": {
                            "type": "string",
                            "nullable": true,
                            "maxLength": 255
                          }
                        }
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tour_operators": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "individual_contents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "cover_media": {
                        "type": "string",
                        "description": "Selects cover media to be displayed on the enduser link. Use UUID retrieved from /travel-details/media endpoint."
                      },
                      "show_country_info": {
                        "type": "boolean",
                        "nullable": true,
                        "default": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "subscribe": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "email_address": {
                              "type": "string",
                              "format": "email"
                            },
                            "language": {
                              "$ref": "#/paths/~1travel-details~1%7Bid%7D/post/requestBody/content/application~1json/schema/allOf/3/properties/subscribe/items/properties/language"
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unique URL with access to requested information.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "A unique link with access to requested information."
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/information/updates": {
      "post": {
        "summary": "Get status (if there are important changes) of earlier requests by using Request ID.",
        "parameters": [
          {
            "name": "request_ids",
            "description": "Comma separated request IDs of requests to check status of.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
            }
          }
        ],
        "operationId": "getRequestStatus",
        "tags": [
          "Travel Information"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_ids": {
                    "description": "Request IDs of requests to check status of.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "00000000-0000-0000-0000-000000000001"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current status (important changes) of given request IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "requests": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "request_id": {
                                "$ref": "#/paths/~1information~1updates/post/requestBody/content/application~1json/schema/properties/request_ids/items"
                              },
                              "is_valid": {
                                "type": "boolean",
                                "example": true
                              },
                              "endpoint": {
                                "type": "string",
                                "description": "API endpoint of the original request.",
                                "example": "/api/v2/content/all/html"
                              },
                              "params": {
                                "type": "object",
                                "properties": {
                                  "destinations": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "AE"
                                    }
                                  },
                                  "nationalities": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "DE"
                                    }
                                  },
                                  "states": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "example": "BE"
                                    }
                                  }
                                }
                              },
                              "created_at": {
                                "type": "string",
                                "format": "datetime",
                                "example": "2020-01-01 00:00:00"
                              },
                              "has_important_changes": {
                                "type": "boolean",
                                "example": true
                              },
                              "last_important_change_at": {
                                "type": "string",
                                "format": "datetime",
                                "example": "2020-01-01 00:00:00"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/infosystem/general": {
      "get": {
        "tags": [
          "Infosystem"
        ],
        "summary": "Country News",
        "description": "Get General Updates",
        "operationId": "getInfosystemGeneral",
        "parameters": [
          {
            "name": "sort_by",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "default": "created_at"
            }
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/3"
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/4"
          }
        ],
        "responses": {
          "200": {
            "description": "Country News Records"
          }
        }
      }
    },
    "/infosystem/passolution": {
      "get": {
        "summary": "Passolution News",
        "description": "Get Passolution News",
        "operationId": "getPassolutionNews",
        "tags": [
          "Infosystem"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1countries/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1countries/get/parameters/4"
          }
        ],
        "responses": {
          "200": {
            "description": "Passolution News",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number",
                                    "format": "int32"
                                  },
                                  "date": {
                                    "type": "string",
                                    "format": "datetime",
                                    "example": "2020-01-01 00:00:00"
                                  },
                                  "headline": {
                                    "type": "string",
                                    "example": "News Headline"
                                  },
                                  "content": {
                                    "type": "string",
                                    "example": "News Content"
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/1"
                        }
                      ]
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/2"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/travel-details": {
      "post": {
        "summary": "Get Travel Details Links",
        "operationId": "getTravelDetails",
        "tags": [
          "Travel Information"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "unseen",
                      "seen"
                    ]
                  },
                  "tid": {
                    "type": "string",
                    "example": "ABCD-EFGH-IJKL"
                  },
                  "reference_id": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "like": {
                            "type": "string",
                            "example": "REF-12%"
                          },
                          "=": {
                            "type": "string",
                            "example": "REF-123"
                          }
                        }
                      },
                      {
                        "type": "string",
                        "example": "REF-123"
                      }
                    ]
                  },
                  "trip_name": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "like": {
                            "type": "string",
                            "example": "Trip%"
                          },
                          "=": {
                            "type": "string",
                            "example": "Trip Name"
                          }
                        }
                      },
                      {
                        "type": "string",
                        "example": "Trip Name"
                      }
                    ]
                  },
                  "destinations": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        {
                          "type": "object",
                          "properties": {
                            "destination": {
                              "$ref": "#/paths/~1travel-details/post/requestBody/content/application~1json/schema/properties/destinations/items/oneOf/0"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "pre-stay",
                                "follow-up"
                              ]
                            }
                          }
                        }
                      ]
                    }
                  },
                  "nationalities": {
                    "type": "array",
                    "example": [
                      "DE",
                      "AT"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "start_date": {
                    "type": "object",
                    "properties": {
                      "<": {
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-01"
                      },
                      "<=": {
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-01"
                      },
                      "=": {
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-01"
                      },
                      ">=": {
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-01"
                      },
                      ">": {
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-01"
                      }
                    }
                  },
                  "end_date": {
                    "$ref": "#/paths/~1travel-details/post/requestBody/content/application~1json/schema/properties/start_date"
                  },
                  "created_at": {
                    "$ref": "#/paths/~1travel-details/post/requestBody/content/application~1json/schema/properties/start_date"
                  },
                  "sort_by": {
                    "type": "string",
                    "default": "created_at",
                    "enum": [
                      "created_at",
                      "start_date"
                    ]
                  },
                  "sort_order": {
                    "type": "string",
                    "default": "asc",
                    "enum": [
                      "asc",
                      "desc"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Travel Details Links",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "tid": {
                                "type": "string",
                                "example": "ABCD-EFGH-IJKL"
                              },
                              "reference_id": {
                                "type": "string",
                                "nullable": true,
                                "example": "REF-123"
                              },
                              "trip_name": {
                                "type": "string",
                                "example": "Trip Name"
                              },
                              "destinations": {
                                "type": "array",
                                "example": [
                                  "TR",
                                  "ZA",
                                  "AE"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              },
                              "nationalities": {
                                "type": "array",
                                "example": [
                                  "DE",
                                  "AT"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              },
                              "start_date": {
                                "type": "string",
                                "format": "date",
                                "example": "2020-01-01"
                              },
                              "end_date": {
                                "type": "string",
                                "format": "date",
                                "example": "2020-01-07"
                              },
                              "tour_operators": {
                                "type": "array",
                                "description": "Tour operator content will be displayed on the travel details link for records with the given codes.",
                                "example": [
                                  "tour_operator_1",
                                  "tour_operator_2"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              },
                              "individual_contents": {
                                "type": "array",
                                "description": "Individual content sections will be displayed on the travel details link for the given codes.",
                                "example": [
                                  "individual_content_section_1",
                                  "individual_content_section_2"
                                ],
                                "items": {
                                  "type": "string"
                                }
                              },
                              "cover_media": {
                                "type": "string",
                                "description": "Travel detail link will show a cover media which has the given UUID.",
                                "nullable": true
                              },
                              "note": {
                                "type": "string",
                                "nullable": true,
                                "example": "A note about the trip."
                              },
                              "visits": {
                                "type": "integer",
                                "default": 0
                              },
                              "last_visited_at": {
                                "type": "string",
                                "format": "datetime",
                                "example": "2020-01-01 00:00:00"
                              },
                              "last_important_change_at": {
                                "$ref": "#/paths/~1travel-details/post/responses/200/content/application~1json/schema/allOf/0/properties/data/items/properties/last_visited_at"
                              },
                              "created_at": {
                                "$ref": "#/paths/~1travel-details/post/responses/200/content/application~1json/schema/allOf/0/properties/data/items/properties/last_visited_at"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1countries~1de~1locations/get/responses/200/content/application~1json/schema/allOf/1"
                    },
                    {
                      "$ref": "#/paths/~1health/get/responses/default/content/application~1json/schema/allOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/travel-details/{id}": {
      "get": {
        "summary": "Get Travel Details Link Information",
        "operationId": "getTravelDetailLink",
        "tags": [
          "Travel Information"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Travel Detail Link ID.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ABCD-EFGH-IJKL"
            }
          },
          {
            "name": "with",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "requirements",
                  "subscriptions"
                ]
              }
            },
            "description": "Comma separated codes to retrieve additional information. Allowed codes: requirements, subscriptions.",
            "example": "requirements,subscriptions"
          },
          {
            "name": "content_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ]
            },
            "example": "html",
            "description": "If requirements information is requested using the 'with' parameter, you may additionally specify if simple text or html content should be returned for requirements. Default: html"
          },
          {
            "name": "mark_visited",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "example": true,
            "description": "Whether to mark the travel detail link as 'visited' by travellers, ie: all important changes seen by travellers. These links will no longer trigger the 'unseen important changes' emails that are sent to managers if there are unseen important changes for a link."
          }
        ],
        "responses": {
          "200": {
            "description": "Travel Details Link Information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "tid": {
                              "type": "string",
                              "example": "ABCD-EFGH-IJKL"
                            },
                            "reference_id": {
                              "type": "string",
                              "nullable": true,
                              "example": "REF-123"
                            },
                            "trip_name": {
                              "type": "string",
                              "example": "Trip Name"
                            },
                            "cruise_compass": {
                              "type": "object",
                              "properties": {
                                "cruise_id": {
                                  "type": "string",
                                  "description": "Cruise ID for associated Cruise Compass cruise."
                                }
                              },
                              "nullable": true
                            },
                            "destinations": {
                              "type": "array",
                              "example": [
                                "TR",
                                "ZA",
                                "AE"
                              ],
                              "items": {
                                "type": "string"
                              }
                            },
                            "destinations_list": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Destination code for the information record.",
                                    "example": "FR"
                                  },
                                  "type": {
                                    "type": "string",
                                    "default": "cruise",
                                    "enum": [
                                      "cruise",
                                      "pre-stay",
                                      "follow-up"
                                    ]
                                  }
                                }
                              }
                            },
                            "nationalities": {
                              "type": "array",
                              "example": [
                                "DE",
                                "AT"
                              ],
                              "items": {
                                "type": "string"
                              }
                            },
                            "nationalities_meta": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "Code for nationality that this meta information record belongs to."
                                  },
                                  "inherent": {
                                    "type": "boolean",
                                    "description": "Whether the nationality was added by an API request."
                                  },
                                  "added_by_user": {
                                    "type": "boolean",
                                    "description": "Whether the nationality was added by a traveller on travel detail link."
                                  }
                                }
                              }
                            },
                            "tour_operators": {
                              "type": "array",
                              "description": "Tour operator content will be displayed on the travel details link for records with these codes.",
                              "example": [
                                "tour_operator_1",
                                "tour_operator_2"
                              ],
                              "items": {
                                "type": "string"
                              }
                            },
                            "individual_contents": {
                              "type": "array",
                              "description": "Individual content sections will be displayed on the travel details link for these codes.",
                              "example": [
                                "individual_content_section_1",
                                "individual_content_section_2"
                              ],
                              "items": {
                                "type": "string"
                              }
                            },
                            "start_date": {
                              "type": "string",
                              "format": "date",
                              "example": "2020-01-01"
                            },
                            "end_date": {
                              "type": "string",
                              "format": "date",
                              "example": "2020-01-07"
                            },
                            "note": {
                              "type": "string",
                              "nullable": true,
                              "example": "A note about the trip."
                            },
                            "cover_media": {
                              "type": "string",
                              "description": "Cover media that will be displayed on the enduser link."
                            },
                            "visits": {
                              "type": "integer",
                              "default": 0
                            },
                            "last_visited_at": {
                              "type": "string",
                              "format": "datetime",
                              "example": "2020-01-01 00:00:00"
                            },
                            "last_important_change_at": {
                              "$ref": "#/paths/~1travel-details~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/data/properties/last_visited_at"
                            },
                            "created_at": {
                              "$ref": "#/paths/~1travel-details~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/data/properties/last_visited_at"
                            }
                          }
                        },
                        "requirements": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "destination": {
                                "type": "string",
                                "default": "DE"
                              },
                              "destination_type": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/destination_type"
                              },
                              "nationality": {
                                "type": "string",
                                "default": "DE"
                              },
                              "title": {
                                "type": "string"
                              },
                              "overview": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              },
                              "entry": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              },
                              "visa": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              },
                              "transit_visa": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              },
                              "health": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              },
                              "final_provisions": {
                                "$ref": "#/paths/~1content~1all~1html/post/responses/200/content/application~1json/schema/allOf/0/allOf/0/properties/records/items/properties/overview"
                              }
                            }
                          }
                        },
                        "individual_content": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "success": {
                              "type": "boolean",
                              "description": "Whether the individual content was retrieved successfully. If not, an error message will be returned in 'error' field."
                            },
                            "error": {
                              "type": "string",
                              "nullable": true,
                              "description": "This field will contain an error message if individual content was not retrieved due to any reason."
                            },
                            "sections": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "success": {
                                    "type": "boolean",
                                    "description": "Whether the individual content section was retrieved successfully. If not, an error message will be returned in 'error' field."
                                  },
                                  "error": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "This field will contain an error message if individual content section was not retrieved due to any reason."
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "content": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "tour_operators": {
                          "type": "array",
                          "nullable": true,
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "success": {
                                "type": "boolean",
                                "description": "Whether the tour operator content was retrieved successfully. If not, an error message will be returned in 'error' field."
                              },
                              "error": {
                                "type": "string",
                                "nullable": true,
                                "description": "This field will contain an error message if tour operator content was not retrieved due to any reason."
                              },
                              "contents": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "content": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "subscriptions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "email_address": {
                                "type": "string",
                                "format": "email"
                              },
                              "language": {
                                "type": "string",
                                "default": "de",
                                "example": "en",
                                "enum": [
                                  "de",
                                  "en",
                                  "fr",
                                  "it",
                                  "nl",
                                  "pl",
                                  "es",
                                  "pt",
                                  "ru",
                                  "bg",
                                  "cs",
                                  "da",
                                  "el",
                                  "fi",
                                  "hu",
                                  "nb",
                                  "ro",
                                  "sk",
                                  "sl",
                                  "sv",
                                  "tr"
                                ]
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date"
                              },
                              "verified_at": {
                                "type": "string",
                                "nullable": true,
                                "format": "date"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1health/get/responses/default/content/application~1json/schema/allOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update Travel Details Link Information",
        "operationId": "UpdateTravelDetailLink",
        "tags": [
          "Travel Information"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1travel-details~1%7Bid%7D/get/parameters/0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "properties": {
                      "trip_name": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "Trip Name"
                      },
                      "destinations": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "$ref": "#/paths/~1travel-details/post/requestBody/content/application~1json/schema/properties/destinations/items/oneOf/0"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "destination": {
                                  "$ref": "#/paths/~1travel-details/post/requestBody/content/application~1json/schema/properties/destinations/items/oneOf/0"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "pre-stay",
                                    "follow-up"
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      },
                      "nationalities": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2
                        },
                        "example": [
                          "DE",
                          "AT"
                        ]
                      },
                      "start_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2020-01-01"
                      },
                      "end_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2020-01-01"
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "tour_operators": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "individual_contents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "cover_media": {
                        "type": "string",
                        "description": "Selects cover media to be displayed on the enduser link. Use UUID retrieved from /travel-details/media endpoint."
                      },
                      "show_country_info": {
                        "type": "boolean",
                        "nullable": true,
                        "default": false
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "reference_id": {
                        "type": "string",
                        "nullable": true,
                        "example": "REF-123",
                        "maxLength": 20
                      },
                      "note": {
                        "type": "string",
                        "nullable": true,
                        "example": "A note about the trip",
                        "maxLength": 255
                      }
                    }
                  },
                  {
                    "type": "object",
                    "properties": {
                      "subscribe": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "email_address": {
                              "type": "string",
                              "format": "email"
                            },
                            "language": {
                              "type": "string",
                              "description": "Language to use for emails sent to traveller.",
                              "default": "de",
                              "example": "en",
                              "enum": [
                                "de",
                                "en",
                                "fr",
                                "it",
                                "nl",
                                "pl",
                                "es",
                                "pt",
                                "ru",
                                "bg",
                                "cs",
                                "da",
                                "el",
                                "fi",
                                "hu",
                                "nb",
                                "ro",
                                "sk",
                                "sl",
                                "sv",
                                "tr"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Travel Details Link Information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/paths/~1travel-details~1%7Bid%7D/get/responses/200/content/application~1json/schema/allOf/0/properties/data"
                        }
                      }
                    },
                    {
                      "$ref": "#/paths/~1health/get/responses/default/content/application~1json/schema/allOf/1"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Travel Details Link",
        "operationId": "deleteTravelDetailLink",
        "tags": [
          "Travel Information"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1travel-details~1%7Bid%7D/get/parameters/0"
          }
        ],
        "responses": {
          "204": {
            "description": "HTTP 204 response confirms deletion of the travel detail link."
          }
        }
      }
    },
    "/travel-details/media": {
      "post": {
        "summary": "Get Travel Details Media Records",
        "operationId": "getTravelDetailMediaList",
        "tags": [
          "Travel Information"
        ],
        "parameters": [
          {
            "$ref": "#/paths/~1countries/get/parameters/4"
          }
        ],
        "responses": {
          "200": {
[...]
