openapi: 3.0.3
info:
  title: Global Travel Monitor Events API
  description: |
    Global Travel Monitor (GTM) API – Read-only Zugriff auf globale
    Sicherheits- und Reiserisiko-Events sowie Länder-Übersichten.
  version: 1.0.0
  contact:
    name: Global Travel Monitor Support

servers:
  - url: https://platform.passolution.de/api/v1
    description: Produktionsserver (empfohlen)
  - url: https://api.global-travel-monitor.de/v1
    description: Bisherige Adresse, weiterhin gültig
  - url: https://global-travel-monitor.eu/api/v1
    description: Bisherige Adresse, weiterhin gültig

security:
  - BearerAuth: []

tags:
  - name: Events
    description: Aktive Events abfragen
  - name: Basisdaten
    description: Kontinente, Länder, Regionen und Event-Kategorien

paths:
  /events:
    get:
      tags: [Events]
      summary: Events auflisten
      description: |
        Gibt eine paginierte Liste aller aktiven Events zurück (einschließlich
        zukünftiger Events). Dies umfasst sowohl von Global Travel Monitor gepflegte
        Events als auch Events von API-Partnern. Es werden nur Events zurückgegeben,
        die freigegeben (approved), aktiv und nicht archiviert sind. Mit start_date
        und end_date kann der Zeitraum eingegrenzt werden.
      parameters:
        - name: risk_level
          in: query
          schema:
            type: string
            enum: [high, medium, low, info]
          description: Filter nach Risikostufe
        - name: country
          in: query
          schema:
            type: string
            maxLength: 3
          description: "Filter nach Ländercode – ISO alpha-2 (z.B. DE) oder alpha-3 (z.B. DEU)"
        - name: event_category
          in: query
          schema:
            type: string
            maxLength: 50
          description: "Filter nach Event-Typ-Code (z.B. safety)"
        - name: region
          in: query
          schema:
            type: integer
          description: Filter nach Region-ID (numerische ID)
        - name: source
          in: query
          schema:
            type: string
            maxLength: 100
          description: "Filter nach Event-Herkunft – Name des Anbieters (z.B. manual, API-Client-Name)"
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: "Nur Events ab diesem Datum (z.B. 2026-03-01)"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: "Nur Events bis zu diesem Datum (z.B. 2026-04-30)"
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Einträge pro Seite
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Seitennummer
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /events/nearby:
    get:
      tags: [Events]
      summary: Events im Umkreis von Koordinaten auflisten
      description: |
        Gibt alle aktiven Events zurück, die innerhalb eines Radius um einen Mittelpunkt liegen.
        Der Mittelpunkt wird entweder direkt über `latitude`/`longitude` angegeben oder über
        `code` (3-stelliger IATA-Code), der serverseitig in Koordinaten aufgelöst wird.
        Einer der beiden Wege ist Pflicht, `radius` ist immer erforderlich.

        Die Entfernung wird per Haversine-Formel gegen die Event-Koordinate berechnet. Diese
        wird über dieselbe Kaskade ermittelt wie auf der Karte: Stadt → Region → Hauptstadt →
        Ländermittelpunkt, bzw. abweichende Koordinaten am Event. **Wichtig:** Events, die nur
        einem Land ohne genauere Ortsangabe zugeordnet sind, liegen damit auf der Hauptstadt
        bzw. dem Ländermittelpunkt – ein kleiner Radius kann solche Events also verfehlen.
        Events ohne auflösbare Koordinaten werden nicht zurückgegeben.

        Das Ergebnis ist nach `start_date` absteigend sortiert (nicht nach Entfernung);
        die Distanz selbst wird nicht mit ausgegeben.
      parameters:
        - name: latitude
          in: query
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
          description: "Breitengrad des Mittelpunkts – erforderlich, wenn kein `code` angegeben ist"
          example: 48.1372
        - name: longitude
          in: query
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
          description: "Längengrad des Mittelpunkts – erforderlich, wenn kein `code` angegeben ist"
          example: 11.5756
        - name: code
          in: query
          schema:
            type: string
            minLength: 3
            maxLength: 3
          description: |
            3-stelliger IATA-Code als Mittelpunkt (Alternative zu `latitude`/`longitude`).
            Unbekannte Codes führen zu einem 404.
          example: MUC
        - name: radius
          in: query
          required: true
          schema:
            type: number
            format: float
            minimum: 1
            maximum: 20000
          description: Suchradius in Kilometern
          example: 250
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Einträge pro Seite
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Seitennummer
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  location:
                    $ref: '#/components/schemas/NearbyLocation'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Unbekannter 3-stelliger Code
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unknown 3-letter code: XXX"
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /events/{uuid}:
    parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID des Events
    get:
      tags: [Events]
      summary: Einzelnes Event anzeigen
      responses:
        '200':
          description: Event gefunden
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/countries:
    get:
      tags: [Events]
      summary: Länder mit aktiven Events auflisten
      description: |
        Gibt eine Liste aller Länder zurück, die mindestens ein aktives Event haben,
        zusammen mit der Anzahl aktiver Events. Sortiert nach Anzahl (absteigend).
        Nicht paginiert.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryWithEvents'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /continents:
    get:
      tags: [Basisdaten]
      summary: Kontinente auflisten
      description: Gibt eine Liste aller Kontinente zurück.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContinentItem'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /countries:
    get:
      tags: [Basisdaten]
      summary: Alle Länder auflisten
      description: |
        Gibt eine Liste aller Länder zurück. Optional nach Kontinent filterbar.
      parameters:
        - name: continent
          in: query
          schema:
            type: string
            maxLength: 2
          description: "Filter nach Kontinent-Code (z.B. EU, AS, AF)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /countries/{code}:
    get:
      tags: [Basisdaten]
      summary: Alle Angaben eines Landes
      description: |
        Liefert Grunddaten, Länderbeschreibung, Reiseinformationen, Strom, Trinkgeld,
        Taxi-Apps, Mobilfunkanbieter, Feiertage, Bilder und Risikoprofil eines Landes.
        Mehrsprachige Texte kommen als Objekt je Sprache; mit `lang` als String in dieser Sprache.
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            pattern: '^[A-Za-z]{2,3}$'
          description: "ISO 3166-1 alpha-2 oder alpha-3 Code (z.B. DE oder DEU)"
        - name: lang
          in: query
          schema:
            type: string
            enum: [de, en, nl]
          description: "Nur diese Sprache statt aller Sprachen"
        - name: year
          in: query
          schema:
            type: integer
            minimum: 1970
            maximum: 2100
          description: "Jahr der Feiertage (Standard: laufendes Jahr)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CountryDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /countries/{code}/boundary:
    get:
      tags: [Basisdaten]
      summary: Landesgrenze eines Landes als GeoJSON-Feature
      description: Auf rund 5 km vereinfachte Grenze (Quelle Natural Earth), Koordinaten als [lng, lat].
      parameters:
        - name: code
          in: path
          required: true
          schema: {type: string, example: EG}
        - name: lang
          in: query
          required: false
          schema: {type: string, enum: [de, en, nl]}
      responses:
        '200':
          description: Feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data: {$ref: '#/components/schemas/BoundaryFeature'}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /countries/{code}/regions:
    get:
      summary: Regionen eines Landes
      description: Alle Regionen eines Landes, alphabetisch, mit Anzahl der zugeordneten Städte.
      tags: [Basisdaten]
      parameters:
        - name: code
          in: path
          required: true
          schema: {type: string}
          description: ISO-3166-1-Code (2 oder 3 Buchstaben)
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
          description: Nur diese Sprache statt aller Sprachen
      responses:
        "200":
          description: Regionen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/CountryRegion'}
                  meta: {type: object, properties: {total: {type: integer}}}
        "404": {description: Land nicht gefunden}

  /countries/{code}/cities:
    get:
      summary: Städte eines Landes
      description: Alle Städte eines Landes, alphabetisch, optional nur die einer Region.
      tags: [Basisdaten]
      parameters:
        - name: code
          in: path
          required: true
          schema: {type: string}
          description: ISO-3166-1-Code (2 oder 3 Buchstaben)
        - name: region
          in: query
          schema: {type: integer}
          description: Nur Städte dieser Region (ID aus /countries/{code}/regions)
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
          description: Nur diese Sprache statt aller Sprachen
      responses:
        "200":
          description: Städte
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/CountryCity'}
                  meta: {type: object, properties: {total: {type: integer}}}
        "404": {description: Land nicht gefunden}

  /countries/{code}/sights:
    get:
      summary: Sehenswürdigkeiten eines Landes
      description: Sehenswürdigkeiten und Unternehmungen eines Landes, Highlights zuerst. Optional nach Region, Stadt, Kategorie oder nur Highlights.
      tags: [Basisdaten]
      parameters:
        - name: code
          in: path
          required: true
          schema: {type: string}
          description: ISO-3166-1-Code (2 oder 3 Buchstaben)
        - name: region
          in: query
          schema: {type: integer}
          description: Nur Sehenswürdigkeiten dieser Region
        - name: city
          in: query
          schema: {type: integer}
          description: Nur Sehenswürdigkeiten dieser Stadt
        - name: category
          in: query
          schema: {type: string, enum: [landmark, old_town, museum, religious, palace, archaeological, nature, national_park, beach, viewpoint, park, activity, theme_park, market, other]}
        - name: highlight
          in: query
          schema: {type: boolean}
          description: Nur Highlights
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
          description: Nur diese Sprache statt aller Sprachen
      responses:
        "200":
          description: Sehenswürdigkeiten
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/Sight'}
                  meta: {type: object, properties: {total: {type: integer}}}
        "404": {description: Land nicht gefunden}

  /sights/{id}:
    get:
      summary: Einzelne Sehenswürdigkeit
      tags: [Basisdaten]
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
          description: Nur diese Sprache statt aller Sprachen
      responses:
        "200":
          description: Sehenswürdigkeit mit Land
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    allOf:
                      - {$ref: '#/components/schemas/Sight'}
                      - type: object
                        properties:
                          country:
                            type: object
                            properties:
                              code: {type: string}
                              name: {description: "Text je Sprache oder – mit ?lang – ein String"}
        "404": {description: Sehenswürdigkeit nicht gefunden}

  /countries/{code}/weather:
    get:
      summary: Wetter der Hauptstadt eines Landes
      description: Aktuelles Wetter, 24 Stunden in 3-Stunden-Schritten und bis zu 5 Tage (OpenWeatherMap). Hauptstadt, sonst Landesmitte.
      tags: [Basisdaten]
      parameters:
        - name: code
          in: path
          required: true
          schema: {type: string}
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
      responses:
        "200":
          description: Wetterbericht
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data: {$ref: '#/components/schemas/WeatherReport'}
        "404": {description: Land nicht gefunden oder ohne Koordinaten}
        "503": {description: Wetterquelle nicht erreichbar}

  /weather:
    get:
      summary: Wetter für Koordinaten
      description: Aktuelles Wetter, 24 Stunden in 3-Stunden-Schritten und bis zu 5 Tage für einen Punkt (OpenWeatherMap).
      tags: [Basisdaten]
      parameters:
        - name: lat
          in: query
          required: true
          schema: {type: number, minimum: -90, maximum: 90}
        - name: lng
          in: query
          required: true
          schema: {type: number, minimum: -180, maximum: 180}
        - name: lang
          in: query
          schema: {type: string, enum: [de, en, nl]}
      responses:
        "200":
          description: Wetterbericht
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data: {$ref: '#/components/schemas/WeatherReport'}
        "422": {description: Ungültige Koordinaten}
        "503": {description: Wetterquelle nicht erreichbar}

  /boundaries:
    get:
      tags: [Basisdaten]
      summary: Landesgrenzen mehrerer Länder als GeoJSON-FeatureCollection
      parameters:
        - name: codes
          in: query
          required: true
          description: ISO-Codes, kommagetrennt, höchstens 60
          schema: {type: string, example: "EG,DE,FR"}
        - name: lang
          in: query
          required: false
          schema: {type: string, enum: [de, en, nl]}
      responses:
        '200':
          description: FeatureCollection
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: object
                    properties:
                      type: {type: string, example: FeatureCollection}
                      features:
                        type: array
                        items: {$ref: '#/components/schemas/BoundaryFeature'}
                  meta:
                    type: object
                    properties:
                      requested: {type: integer}
                      found: {type: integer}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /airports:
    get:
      tags: [Basisdaten]
      summary: Flughäfen (Kurzdaten)
      parameters:
        - {name: country, in: query, required: false, schema: {type: string, example: EG}}
        - {name: q, in: query, required: false, schema: {type: string}}
        - {name: type, in: query, required: false, schema: {type: string, enum: [international, large_airport, medium_airport, small_airport]}}
        - {name: lang, in: query, required: false, schema: {type: string, enum: [de, en, nl]}}
      responses:
        '200':
          description: Liste
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/AirportSummary'}
                  meta:
                    type: object
                    properties:
                      total: {type: integer}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /airports/{code}:
    get:
      tags: [Basisdaten]
      summary: Flughafen mit Lounges, Hotels, Mobilität und Airlines
      parameters:
        - {name: code, in: path, required: true, description: IATA (3) oder ICAO (4), schema: {type: string, example: CAI}}
        - {name: lang, in: query, required: false, schema: {type: string, enum: [de, en, nl]}}
      responses:
        '200':
          description: Flughafen
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data: {$ref: '#/components/schemas/AirportDetail'}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /airlines:
    get:
      tags: [Basisdaten]
      summary: Airlines (Kurzdaten)
      parameters:
        - {name: country, in: query, required: false, description: Sitzland (ISO-2 oder ISO-3), schema: {type: string, example: EG}}
        - {name: q, in: query, required: false, schema: {type: string}}
        - {name: lang, in: query, required: false, schema: {type: string, enum: [de, en, nl]}}
      responses:
        '200':
          description: Liste
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/AirlineSummary'}
                  meta:
                    type: object
                    properties:
                      total: {type: integer}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /airlines/{code}:
    get:
      tags: [Basisdaten]
      summary: Airline mit Kontakt, Gepäck, Tierregelung und Flughäfen
      parameters:
        - {name: code, in: path, required: true, description: IATA (2) oder ICAO (3), schema: {type: string, example: MS}}
        - {name: include, in: query, required: false, description: "lounges, hotels (kommagetrennt) je Flughafen", schema: {type: string, example: "lounges,hotels"}}
        - {name: lang, in: query, required: false, schema: {type: string, enum: [de, en, nl]}}
      responses:
        '200':
          description: Airline
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean}
                  data: {$ref: '#/components/schemas/AirlineDetail'}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /exchange-rates:
    get:
      tags: [Basisdaten]
      summary: Aktuelle Wechselkurse
      description: Stündlich aktualisierte Kurse (Basis EUR, andere Basis als Kreuzkurs). `source` ist bei Anzeige zu nennen.
      parameters:
        - name: base
          in: query
          schema: {type: string, pattern: '^[A-Za-z]{3}$', default: EUR}
        - name: symbols
          in: query
          schema: {type: string}
          description: "Nur diese Währungen, kommagetrennt"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: {type: boolean, example: true}
                  data:
                    type: object
                    properties:
                      base: {type: string, example: EUR}
                      rates:
                        type: object
                        additionalProperties: {type: number}
                        example: {EGP: 54.21, USD: 1.08}
                      updated_at: {type: string, format: date-time, nullable: true}
                      next_update_at: {type: string, format: date-time, nullable: true}
                      source: {type: string}
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '503':
          description: Anbieter nicht erreichbar und keine Kurse im Cache

  /regions:
    get:
      tags: [Basisdaten]
      summary: Regionen auflisten
      description: |
        Gibt eine Liste aller Regionen zurück.
        Optional nach Land filterbar.
      parameters:
        - name: country
          in: query
          schema:
            type: string
            maxLength: 3
          description: "Filter nach Ländercode – ISO alpha-2 (z.B. DE) oder alpha-3 (z.B. DEU)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /event-categories:
    get:
      tags: [Basisdaten]
      summary: Verfügbare Event-Typen auflisten
      description: |
        Gibt eine Liste aller aktiven Event-Typen zurück.
        Nützlich um die gültigen Werte für den event_category-Filter zu ermitteln.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventCategory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API-Token im Format \"Bearer {token}\""

  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID des Events
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          example: Earthquake in Turkey
        description:
          type: string
          nullable: true
          example: A 6.2 magnitude earthquake struck southeastern Turkey.
        risk_level:
          type: string
          enum: [high, medium, low, info]
          example: high
        start_date:
          type: string
          format: date-time
          nullable: true
          example: "2025-03-15T08:30:00Z"
        end_date:
          type: string
          format: date-time
          nullable: true
          description: "null = andauernd"
          example: null
        latitude:
          type: number
          format: float
          nullable: true
          example: 37.7749
        longitude:
          type: number
          format: float
          nullable: true
          example: 35.3214
        is_nationwide:
          type: boolean
          description: "Landesweite Geltung: /events/nearby liefert das Event unabhängig vom Radius, sobald der Abfragepunkt in einem der betroffenen Länder liegt"
          example: false
        event_categories:
          type: array
          items:
            $ref: '#/components/schemas/EventCategory'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/EventCountry'
        locations:
          type: array
          description: Alle Standorte des Events mit Land, Region, Stadt und Koordinaten
          items:
            $ref: '#/components/schemas/EventLocation'
        source:
          $ref: '#/components/schemas/EventSource'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CountryRegion:
      type: object
      properties:
        id: {type: integer, example: 10}
        code: {type: string, nullable: true, example: DE-BW}
        name: {description: "Text je Sprache oder – mit ?lang – ein String", example: {de: Baden-Württemberg, en: Baden-Württemberg}}
        description: {type: string, nullable: true}
        is_popular: {type: boolean, description: "Markierung „beliebt“ aus der Verwaltung"}
        coordinates:
          type: object
          nullable: true
          properties: {lat: {type: number}, lng: {type: number}}
        cities_count: {type: integer, example: 8}

    CountryCity:
      type: object
      properties:
        id: {type: integer, example: 1382}
        name: {description: "Text je Sprache oder – mit ?lang – ein String", example: {de: Düsseldorf, en: Dusseldorf}}
        region:
          type: object
          nullable: true
          properties:
            id: {type: integer}
            code: {type: string, nullable: true}
            name: {description: "Text je Sprache oder – mit ?lang – ein String"}
        population: {type: integer, nullable: true}
        coordinates:
          type: object
          nullable: true
          properties: {lat: {type: number}, lng: {type: number}}
        is_capital: {type: boolean}
        is_regional_capital: {type: boolean}
        is_popular: {type: boolean, description: "Markierung „beliebt“ aus der Verwaltung"}

    Sight:
      type: object
      properties:
        id: {type: integer, example: 3}
        name: {description: "Text je Sprache oder – mit ?lang – ein String", example: {de: Aquarium Genua, en: Aquarium of Genoa}}
        category: {type: string, example: theme_park}
        category_name: {description: "Bezeichnung der Kategorie je Sprache oder – mit ?lang – ein String"}
        is_highlight: {type: boolean}
        region:
          type: object
          nullable: true
          properties:
            id: {type: integer}
            code: {type: string, nullable: true}
            name: {description: "Text je Sprache oder – mit ?lang – ein String"}
        city:
          type: object
          nullable: true
          properties:
            id: {type: integer}
            name: {description: "Text je Sprache oder – mit ?lang – ein String"}
        coordinates:
          type: object
          nullable: true
          properties: {lat: {type: number}, lng: {type: number}}
        address: {type: string, nullable: true}
        website_url: {type: string, nullable: true}
        ticket_url: {type: string, nullable: true}
        visit_minutes: {type: integer, nullable: true, description: Übliche Besuchsdauer}
        short_description: {nullable: true, description: "Text je Sprache oder – mit ?lang – ein String"}
        description: {nullable: true, description: "Text je Sprache oder – mit ?lang – ein String"}
        opening_hours: {nullable: true, description: "Allgemein und ohne Gewähr"}
        admission: {nullable: true, description: "Allgemein und ohne Gewähr"}
        best_time: {nullable: true}
        tips: {nullable: true}
        accessibility: {nullable: true}
        is_reviewed: {type: boolean, description: "false, solange ein KI-Entwurf nicht redaktionell geprüft ist"}

    WeatherReport:
      type: object
      properties:
        location:
          type: object
          properties:
            name: {type: string, nullable: true, example: Berlin}
            lat: {type: number}
            lng: {type: number}
            timezone_offset: {type: integer, description: Versatz zu UTC in Sekunden, example: 7200}
        current:
          type: object
          properties:
            observed_at: {type: string, format: date-time}
            temperature: {type: number, description: "°C"}
            feels_like: {type: number}
            temp_min: {type: number, nullable: true}
            temp_max: {type: number, nullable: true}
            humidity: {type: integer, description: "%"}
            pressure: {type: integer, description: hPa}
            wind_speed: {type: number, description: km/h}
            wind_direction: {type: integer, description: Grad}
            visibility: {type: number, description: km}
            clouds: {type: integer, description: "%"}
            description: {type: string, example: Bedeckt}
            condition: {type: string, example: Bewölkt}
            icon: {type: string, example: 04n}
            icon_url: {type: string}
            sunrise: {type: string, format: date-time, nullable: true}
            sunset: {type: string, format: date-time, nullable: true}
        hourly:
          type: array
          description: Nächste 24 Stunden in 3-Stunden-Schritten
          items:
            type: object
            properties:
              time: {type: string, format: date-time}
              temperature: {type: number}
              icon: {type: string}
              description: {type: string}
              precipitation_probability: {type: integer, description: "%"}
              wind_speed: {type: number, description: km/h}
        daily:
          type: array
          description: Bis zu 5 Tage
          items:
            type: object
            properties:
              date: {type: string, format: date}
              temp_min: {type: number}
              temp_max: {type: number}
              icon: {type: string}
              description: {type: string}
              precipitation_probability: {type: integer, description: "%"}
        source:
          type: object
          properties:
            name: {type: string, example: OpenWeatherMap}
            url: {type: string}

    EventLocation:
      type: object
      properties:
        country_name: {type: string, example: Deutschland}
        iso_code: {type: string, example: DE}
        region_id: {type: integer, nullable: true}
        region_name: {type: string, nullable: true, example: Nordrhein-Westfalen}
        city_id: {type: integer, nullable: true}
        city_name: {type: string, nullable: true, example: Düsseldorf}
        latitude: {type: number, format: float, nullable: true}
        longitude: {type: number, format: float, nullable: true}
        location_note: {type: string, nullable: true}
        label: {type: string, example: "Deutschland – Nordrhein-Westfalen – Düsseldorf"}

    EventCategory:
      type: object
      properties:
        code:
          type: string
          example: safety
        name:
          type: string
          example: Sicherheit

    Region:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name_de:
          type: string
          example: Bayern
        name_en:
          type: string
          example: Bavaria
        code:
          type: string
          example: BY
        country_iso_code:
          type: string
          nullable: true
          example: DE
        country_name_de:
          type: string
          nullable: true
          example: Deutschland
        lat:
          type: number
          format: float
          nullable: true
          example: 48.7904
        lng:
          type: number
          format: float
          nullable: true
          example: 11.4979

    ContinentItem:
      type: object
      properties:
        code:
          type: string
          example: EU
        name_de:
          type: string
          example: Europa
        name_en:
          type: string
          example: Europe
        lat:
          type: number
          format: float
          nullable: true
          example: 54.526
        lng:
          type: number
          format: float
          nullable: true
          example: 15.2551

    EventCountry:
      type: object
      properties:
        iso_code:
          type: string
          example: TR
        iso3_code:
          type: string
          example: TUR
        name_de:
          type: string
          example: Tuerkei
        name_en:
          type: string
          example: Turkey
        continent:
          type: string
          nullable: true
          example: Asia
        latitude:
          type: number
          format: float
          nullable: true
          description: Breitengrad (Event-Standort im Land)
          example: 37.7749
        longitude:
          type: number
          format: float
          nullable: true
          description: Längengrad (Event-Standort im Land)
          example: 35.3214

    Country:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name_de:
          type: string
          example: Deutschland
        name_en:
          type: string
          example: Germany
        continent:
          type: string
          nullable: true
          example: Europe
        continent_de:
          type: string
          nullable: true
          example: Europa
        lat:
          type: number
          format: float
          nullable: true
          example: 51.1657
        lng:
          type: number
          format: float
          nullable: true
          example: 10.4515
        is_eu_member:
          type: boolean
          example: true
        is_schengen_member:
          type: boolean
          example: true

    TranslatedText:
      description: "Text je Sprache; mit ?lang= ein einzelner String"
      oneOf:
        - type: object
          additionalProperties:
            type: string
          example: {de: "Deutschland", en: "Germany", nl: "Duitsland"}
        - type: string

    Lounge:
      type: object
      properties:
        name: {type: string}
        location: {type: string, nullable: true}
        access: {type: string, nullable: true}
        price_per_person: {type: number, nullable: true}
        children_welcome: {type: boolean, nullable: true}
        url: {type: string, nullable: true}
    NearbyHotel:
      type: object
      properties:
        name: {type: string}
        distance_km: {type: number, nullable: true}
        shuttle: {type: boolean, nullable: true}
        booking_url: {type: string, nullable: true}
        notes: {type: string, nullable: true}
    NamedLink:
      type: object
      properties:
        name: {type: string}
        url: {type: string, nullable: true}
        distance: {type: string, nullable: true}
        price_info: {type: string, nullable: true}
    CabinClass:
      type: object
      properties:
        key: {type: string, enum: [economy, premium_economy, business, first]}
        label: {type: string}
    AirportSummary:
      type: object
      properties:
        iata_code: {type: string, nullable: true}
        icao_code: {type: string, nullable: true}
        name: {type: string}
        type: {type: string, nullable: true}
        type_label: {type: string, nullable: true}
        city: {$ref: '#/components/schemas/TranslatedText'}
        country:
          type: object
          nullable: true
          properties:
            iso_code: {type: string}
            name: {$ref: '#/components/schemas/TranslatedText'}
        coordinates:
          type: object
          nullable: true
          properties:
            lat: {type: number}
            lng: {type: number}
        timezone: {type: string, nullable: true}
        operates_24h: {type: boolean}
        website_url: {type: string, nullable: true}
        security_timeslot_url: {type: string, nullable: true}
        counts:
          type: object
          properties:
            lounges: {type: integer}
            nearby_hotels: {type: integer}
            airlines: {type: integer, nullable: true}
    AirportDetail:
      allOf:
        - $ref: '#/components/schemas/AirportSummary'
        - type: object
          properties:
            altitude_m: {type: integer, nullable: true}
            lounges:
              type: array
              items: {$ref: '#/components/schemas/Lounge'}
            nearby_hotels:
              type: array
              items: {$ref: '#/components/schemas/NearbyHotel'}
            mobility:
              type: object
              properties:
                taxi: {type: object, properties: {available: {type: boolean}, info: {type: string, nullable: true}, approx_cost: {type: string, nullable: true}}}
                parking: {type: object, properties: {available: {type: boolean}, options: {type: array, items: {$ref: '#/components/schemas/NamedLink'}}}}
                car_rental: {type: object, properties: {available: {type: boolean}, providers: {type: array, items: {$ref: '#/components/schemas/NamedLink'}}}}
                airport_shuttle: {type: object, properties: {available: {type: boolean}, info: {type: string, nullable: true}, url: {type: string, nullable: true}}}
                public_transport: {type: object, properties: {available: {type: boolean}, types: {type: array, items: {$ref: '#/components/schemas/NamedLink'}}}}
            airlines:
              type: array
              items:
                type: object
                properties:
                  iata_code: {type: string, nullable: true}
                  icao_code: {type: string, nullable: true}
                  name: {type: string}
                  terminal: {type: string, nullable: true}
                  direction: {type: string, nullable: true}
                  cabin_classes:
                    type: array
                    items: {$ref: '#/components/schemas/CabinClass'}
            updated_at: {type: string, format: date-time, nullable: true}
    AirlineSummary:
      type: object
      properties:
        iata_code: {type: string, nullable: true}
        icao_code: {type: string, nullable: true}
        name: {type: string}
        home_country:
          type: object
          nullable: true
          properties:
            iso_code: {type: string}
            name: {$ref: '#/components/schemas/TranslatedText'}
        headquarters: {type: string, nullable: true}
        website_url: {type: string, nullable: true}
        booking_url: {type: string, nullable: true}
        cabin_classes:
          type: array
          items: {$ref: '#/components/schemas/CabinClass'}
        counts:
          type: object
          properties:
            airports: {type: integer, nullable: true}
    BaggageClass:
      type: object
      properties:
        hand:
          type: object
          properties:
            allowance: {type: string, nullable: true, example: 1x8kg}
            dimensions_cm:
              type: object
              nullable: true
              properties:
                length: {type: number}
                width: {type: number}
                height: {type: number}
        checked:
          type: object
          properties:
            allowance: {type: string, nullable: true, example: 23kg}
    AirlineDetail:
      allOf:
        - $ref: '#/components/schemas/AirlineSummary'
        - type: object
          properties:
            contact:
              type: object
              properties:
                hotline: {type: string, nullable: true}
                email: {type: string, nullable: true}
                chat_url: {type: string, nullable: true}
                help_url: {type: string, nullable: true}
            baggage:
              type: object
              properties:
                classes:
                  type: object
                  properties:
                    economy: {$ref: '#/components/schemas/BaggageClass'}
                    premium_economy: {$ref: '#/components/schemas/BaggageClass'}
                    business: {$ref: '#/components/schemas/BaggageClass'}
                    first: {$ref: '#/components/schemas/BaggageClass'}
                notes: {type: string, nullable: true}
                info_url: {type: string, nullable: true}
            pet_policy:
              type: object
              properties:
                allowed: {type: boolean}
                in_cabin:
                  type: object
                  nullable: true
                  properties:
                    allowed: {type: boolean}
                    max_weight: {type: string, nullable: true}
                    carrier_dimensions_cm: {type: object, nullable: true, properties: {length: {type: number, nullable: true}, width: {type: number, nullable: true}, height: {type: number, nullable: true}}}
                    weight_includes_bag: {type: boolean}
                    advance_notice_required: {type: boolean}
                    notes: {type: string}
                in_hold:
                  type: object
                  nullable: true
                  properties:
                    allowed: {type: boolean}
                    max_weight: {type: string, nullable: true}
                    advance_notice_required: {type: boolean}
                    notes: {type: string}
                restrictions:
                  type: array
                  items:
                    type: object
                    properties:
                      key: {type: string}
                      label: {type: string}
                info_url: {type: string, nullable: true}
                notes: {type: string, nullable: true}
            airports:
              type: array
              items:
                type: object
                properties:
                  iata_code: {type: string, nullable: true}
                  icao_code: {type: string, nullable: true}
                  name: {type: string}
                  city: {$ref: '#/components/schemas/TranslatedText'}
                  country: {type: string, nullable: true}
                  terminal: {type: string, nullable: true}
                  direction: {type: string, nullable: true}
                  lounges:
                    type: array
                    description: nur mit include=lounges
                    items: {$ref: '#/components/schemas/Lounge'}
                  nearby_hotels:
                    type: array
                    description: nur mit include=hotels
                    items: {$ref: '#/components/schemas/NearbyHotel'}
            updated_at: {type: string, format: date-time, nullable: true}
    BoundaryFeature:
      type: object
      properties:
        type: {type: string, example: Feature}
        properties:
          type: object
          properties:
            iso_code: {type: string}
            iso3_code: {type: string, nullable: true}
            name: {$ref: '#/components/schemas/TranslatedText'}
        bbox:
          type: array
          nullable: true
          description: "[min_lng, min_lat, max_lng, max_lat]"
          items: {type: number}
        geometry:
          type: object
          description: GeoJSON Polygon oder MultiPolygon, Koordinaten als [lng, lat]
    CountryDetail:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name:
          $ref: '#/components/schemas/TranslatedText'
        continent:
          type: object
          nullable: true
          properties:
            code: {type: string, example: EU}
            name: {$ref: '#/components/schemas/TranslatedText'}
        territory:
          type: object
          properties:
            type: {type: string, enum: [sovereign, dependent, disputed, special], nullable: true}
            type_label: {type: string, nullable: true}
            parent_country:
              type: object
              nullable: true
              properties:
                iso_code: {type: string}
                name: {$ref: '#/components/schemas/TranslatedText'}
        membership:
          type: object
          properties:
            eu: {type: boolean}
            schengen: {type: boolean}
        currency:
          type: object
          nullable: true
          properties:
            code: {type: string, example: EUR}
            name: {type: string, nullable: true}
            symbol: {type: string, nullable: true}
        phone_prefix: {type: string, nullable: true, example: "+49"}
        timezone: {type: string, nullable: true, example: Europe/Berlin}
        languages:
          type: array
          items: {type: string}
        population: {type: integer, nullable: true}
        area_km2: {type: number, nullable: true}
        coordinates:
          type: object
          nullable: true
          properties:
            lat: {type: number}
            lng: {type: number}
        capital:
          type: object
          nullable: true
          properties:
            id: {type: integer, description: "Stadt-ID wie in /countries/{code}/cities"}
            name: {$ref: '#/components/schemas/TranslatedText'}
            lat: {type: number, nullable: true}
            lng: {type: number, nullable: true}
        flag:
          type: object
          properties:
            svg_url: {type: string, nullable: true}
            emoji: {type: string, nullable: true}
        description:
          type: object
          properties:
            short: {$ref: '#/components/schemas/TranslatedText'}
            long: {$ref: '#/components/schemas/TranslatedText'}
            known_for:
              description: "Stichworte je Sprache; mit ?lang= ein Array"
              oneOf:
                - type: object
                  additionalProperties:
                    type: array
                    items: {type: string}
                - type: array
                  items: {type: string}
        travel_info:
          type: object
          properties:
            intro: {$ref: '#/components/schemas/TranslatedText'}
            driving_side: {type: string, enum: [right, left], nullable: true}
            driving_side_label: {type: string, nullable: true}
            emergency:
              type: object
              properties:
                general: {type: string, nullable: true}
                police: {type: string, nullable: true}
                ambulance: {type: string, nullable: true}
                fire: {type: string, nullable: true}
            religions:
              type: array
              items:
                type: object
                properties:
                  key: {type: string, example: christianity}
                  name: {$ref: '#/components/schemas/TranslatedText'}
            national_day:
              type: object
              nullable: true
              properties:
                date: {type: string, format: date, description: "Jahr kann das historische sein"}
                day_month: {type: string, example: "10-03"}
                name: {$ref: '#/components/schemas/TranslatedText'}
        power:
          type: object
          properties:
            voltage: {type: integer, nullable: true, example: 230}
            frequency: {type: integer, nullable: true, example: 50}
            plug_types:
              type: array
              items:
                type: object
                properties:
                  type: {type: string, example: F}
                  description: {type: string}
                  image: {type: string, format: uri, description: "SVG"}
                  image_png: {type: string, format: uri}
            notes: {$ref: '#/components/schemas/TranslatedText'}
        tipping:
          type: object
          description: "Je Bereich hotels, guides, restaurants, taxi eine Angabe oder null"
          additionalProperties:
            type: object
            nullable: true
            properties:
              mode: {type: string, enum: [range, fixed]}
              from: {type: number, nullable: true}
              to: {type: number, nullable: true}
              unit: {type: string, enum: [percent, amount], nullable: true}
              currency: {type: string, nullable: true}
              description: {$ref: '#/components/schemas/TranslatedText'}
        airports:
          type: array
          description: Aktive Flughäfen im Land, nach Name sortiert (Details über /airports/{code})
          items:
            type: object
            properties:
              iata_code: {type: string, nullable: true}
              icao_code: {type: string, nullable: true}
              name: {type: string}
              type: {type: string, nullable: true}
              city: {$ref: '#/components/schemas/TranslatedText'}
        airlines:
          type: array
          description: Aktive Fluggesellschaften mit Sitz im Land, nach Name sortiert
          items:
            type: object
            properties:
              name: {type: string}
              iata_code: {type: string, nullable: true}
              icao_code: {type: string, nullable: true}
              headquarters: {type: string, nullable: true}
              website_url: {type: string, nullable: true}
              booking_url: {type: string, nullable: true}
        taxi_apps:
          type: array
          items:
            type: object
            properties:
              name: {type: string}
              description: {$ref: '#/components/schemas/TranslatedText'}
              logo_url: {type: string, nullable: true}
              website_url: {type: string, nullable: true}
              app_store_url: {type: string, nullable: true}
              play_store_url: {type: string, nullable: true}
        mobile_operators:
          type: array
          items:
            type: object
            properties:
              name: {type: string}
              description: {$ref: '#/components/schemas/TranslatedText'}
              logo_url: {type: string, nullable: true}
              website_url: {type: string, nullable: true}
              prepaid_url: {type: string, nullable: true}
              offers_esim: {type: boolean}
        holidays:
          type: object
          properties:
            year: {type: integer, example: 2026}
            items:
              type: array
              items:
                type: object
                properties:
                  id: {type: integer}
                  date: {type: string, format: date}
                  weekday: {type: integer, description: "ISO-Wochentag, 1 = Montag"}
                  name: {$ref: '#/components/schemas/TranslatedText'}
                  comment: {$ref: '#/components/schemas/TranslatedText'}
                  is_national: {type: boolean}
                  regions:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: integer}
                        code: {type: string, nullable: true}
                        name: {$ref: '#/components/schemas/TranslatedText'}
        images:
          type: object
          properties:
            hero: {$ref: '#/components/schemas/CountryImage'}
            hero_url: {type: string, nullable: true}
            gallery:
              type: array
              items: {$ref: '#/components/schemas/CountryImage'}
        risk_profile:
          type: object
          nullable: true
          properties:
            overall:
              type: object
              properties:
                level: {type: integer, nullable: true, minimum: 1, maximum: 5}
                label: {type: string, nullable: true}
            categories:
              type: object
              description: "security, health, natural_hazards, infrastructure, entry, climate, culture_law"
              additionalProperties:
                type: object
                properties:
                  label: {type: string}
                  fields:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        name: {type: string, description: "Bezeichnung des Punkts"}
                        type: {type: string, enum: [level, bool, number, tags, text, textarea]}
                        value:
                          nullable: true
                          description: "Stufe 1–5, Ja/Nein, Zahl, Liste oder Text"
                        label: {type: string, nullable: true, description: "nur bei Stufen"}
                        note: {$ref: '#/components/schemas/TranslatedText'}
        updated_at: {type: string, format: date-time}

    CountryImage:
      type: object
      nullable: true
      properties:
        id: {type: integer}
        kind: {type: string, enum: [hero, gallery]}
        url: {type: string, format: uri}
        thumb_url: {type: string, format: uri}
        width: {type: integer, nullable: true}
        height: {type: integer, nullable: true}
        focal:
          type: object
          properties:
            x: {type: number, nullable: true}
            y: {type: number, nullable: true}
        alt: {$ref: '#/components/schemas/TranslatedText'}
        caption: {$ref: '#/components/schemas/TranslatedText'}
        credit: {type: string, nullable: true}
        license: {type: string, nullable: true}
        source_url: {type: string, nullable: true}

    CountryWithEvents:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name_de:
          type: string
          example: Deutschland
        name_en:
          type: string
          example: Germany
        continent:
          type: string
          nullable: true
          example: Europe
        continent_de:
          type: string
          nullable: true
          example: Europa
        lat:
          type: number
          format: float
          nullable: true
          example: 51.1657
        lng:
          type: number
          format: float
          nullable: true
          example: 10.4515
        is_eu_member:
          type: boolean
          example: true
        is_schengen_member:
          type: boolean
          example: true
        active_events_count:
          type: integer
          example: 3

    EventSource:
      type: object
      description: Herkunft des Events
      properties:
        type:
          type: string
          description: "Quelle: manual, api_client, passolution_infosystem, etc."
          example: api_client
        name:
          type: string
          nullable: true
          description: Name des API-Partners (bei API-Client-Events)
          example: Partner XY GmbH

    NearbyLocation:
      type: object
      description: Der aufgelöste Suchmittelpunkt der Umkreissuche
      properties:
        code:
          type: string
          description: "Nur vorhanden, wenn die Suche über `code` erfolgte"
          example: MUC
        name:
          type: string
          description: "Nur vorhanden, wenn die Suche über `code` erfolgte"
          example: Munich International Airport
        latitude:
          type: number
          format: float
          example: 48.353802
        longitude:
          type: number
          format: float
          example: 11.7861
        radius_km:
          type: number
          format: float
          example: 250

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 25
        total:
          type: integer
          example: 142
        last_page:
          type: integer
          example: 6

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            risk_level: ["The selected risk_level is invalid."]
            per_page: ["The per page field must be between 1 and 100."]

  responses:
    Unauthenticated:
      description: Nicht authentifiziert – Token fehlt oder ungültig
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Unauthenticated.

    Forbidden:
      description: Zugriff verweigert
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Token does not have the required permissions.

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Event not found

    ValidationError:
      description: Validierungsfehler
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    TooManyRequests:
      description: Rate Limit überschritten (60 Requests pro Minute)
      headers:
        Retry-After:
          schema:
            type: integer
          description: Sekunden bis zum nächsten erlaubten Request
