openapi: 3.0.3
info:
  title: Global Travel Monitor Events API
  description: |
    Global Travel Monitor (GTM) API – Read-only Zugriff auf globale
    Sicherheits- und Reiserisiko-Events sowie Länder-Übersichten.
  version: 1.0.0
  contact:
    name: Global Travel Monitor Support

servers:
  - url: https://api.global-travel-monitor.de/v1
    description: Produktionsserver

security:
  - BearerAuth: []

tags:
  - name: Events
    description: Aktive Events abfragen
  - name: Basisdaten
    description: Kontinente, Länder, Regionen und Event-Kategorien

paths:
  /events:
    get:
      tags: [Events]
      summary: Events auflisten
      description: |
        Gibt eine paginierte Liste aller aktiven Events zurück (einschließlich
        zukünftiger Events). Dies umfasst sowohl von Global Travel Monitor gepflegte
        Events als auch Events von API-Partnern. Es werden nur Events zurückgegeben,
        die freigegeben (approved), aktiv und nicht archiviert sind. Mit start_date
        und end_date kann der Zeitraum eingegrenzt werden.
      parameters:
        - name: risk_level
          in: query
          schema:
            type: string
            enum: [high, medium, low, info]
          description: Filter nach Risikostufe
        - name: country
          in: query
          schema:
            type: string
            maxLength: 3
          description: "Filter nach Ländercode – ISO alpha-2 (z.B. DE) oder alpha-3 (z.B. DEU)"
        - name: event_category
          in: query
          schema:
            type: string
            maxLength: 50
          description: "Filter nach Event-Typ-Code (z.B. security)"
        - name: region
          in: query
          schema:
            type: integer
          description: Filter nach Region-ID (numerische ID)
        - name: source
          in: query
          schema:
            type: string
            maxLength: 100
          description: "Filter nach Event-Herkunft – Name des Anbieters (z.B. manual, API-Client-Name)"
        - name: start_date
          in: query
          schema:
            type: string
            format: date
          description: "Nur Events ab diesem Datum (z.B. 2026-03-01)"
        - name: end_date
          in: query
          schema:
            type: string
            format: date
          description: "Nur Events bis zu diesem Datum (z.B. 2026-04-30)"
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Einträge pro Seite
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Seitennummer
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /events/nearby:
    get:
      tags: [Events]
      summary: Events im Umkreis von Koordinaten auflisten
      description: |
        Gibt alle aktiven Events zurück, die innerhalb eines Radius um einen Mittelpunkt liegen.
        Der Mittelpunkt wird entweder direkt über `latitude`/`longitude` angegeben oder über
        `code` (3-stelliger IATA-Code), der serverseitig in Koordinaten aufgelöst wird.
        Einer der beiden Wege ist Pflicht, `radius` ist immer erforderlich.

        Die Entfernung wird per Haversine-Formel gegen die Event-Koordinate berechnet. Diese
        wird über dieselbe Kaskade ermittelt wie auf der Karte: Stadt → Region → Hauptstadt →
        Ländermittelpunkt, bzw. abweichende Koordinaten am Event. **Wichtig:** Events, die nur
        einem Land ohne genauere Ortsangabe zugeordnet sind, liegen damit auf der Hauptstadt
        bzw. dem Ländermittelpunkt – ein kleiner Radius kann solche Events also verfehlen.
        Events ohne auflösbare Koordinaten werden nicht zurückgegeben.

        Das Ergebnis ist nach `start_date` absteigend sortiert (nicht nach Entfernung);
        die Distanz selbst wird nicht mit ausgegeben.
      parameters:
        - name: latitude
          in: query
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
          description: "Breitengrad des Mittelpunkts – erforderlich, wenn kein `code` angegeben ist"
          example: 48.1372
        - name: longitude
          in: query
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
          description: "Längengrad des Mittelpunkts – erforderlich, wenn kein `code` angegeben ist"
          example: 11.5756
        - name: code
          in: query
          schema:
            type: string
            minLength: 3
            maxLength: 3
          description: |
            3-stelliger IATA-Code als Mittelpunkt (Alternative zu `latitude`/`longitude`).
            Unbekannte Codes führen zu einem 404.
          example: MUC
        - name: radius
          in: query
          required: true
          schema:
            type: number
            format: float
            minimum: 1
            maximum: 20000
          description: Suchradius in Kilometern
          example: 250
        - name: per_page
          in: query
          schema:
            type: integer
            default: 25
            minimum: 1
            maximum: 100
          description: Einträge pro Seite
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Seitennummer
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  location:
                    $ref: '#/components/schemas/NearbyLocation'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Unbekannter 3-stelliger Code
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Unknown 3-letter code: XXX"
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /events/{uuid}:
    parameters:
      - name: uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: UUID des Events
    get:
      tags: [Events]
      summary: Einzelnes Event anzeigen
      responses:
        '200':
          description: Event gefunden
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/countries:
    get:
      tags: [Events]
      summary: Länder mit aktiven Events auflisten
      description: |
        Gibt eine Liste aller Länder zurück, die mindestens ein aktives Event haben,
        zusammen mit der Anzahl aktiver Events. Sortiert nach Anzahl (absteigend).
        Nicht paginiert.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryWithEvents'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /continents:
    get:
      tags: [Basisdaten]
      summary: Kontinente auflisten
      description: Gibt eine Liste aller Kontinente zurück.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContinentItem'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /countries:
    get:
      tags: [Basisdaten]
      summary: Alle Länder auflisten
      description: |
        Gibt eine Liste aller Länder zurück. Optional nach Kontinent filterbar.
      parameters:
        - name: continent
          in: query
          schema:
            type: string
            maxLength: 2
          description: "Filter nach Kontinent-Code (z.B. EU, AS, AF)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /countries/{code}:
    get:
      tags: [Basisdaten]
      summary: Alle Angaben eines Landes
      description: |
        Liefert Grunddaten, Länderbeschreibung, Reiseinformationen, Strom, Trinkgeld,
        Taxi-Apps, Mobilfunkanbieter, Feiertage, Bilder und Risikoprofil eines Landes.
        Mehrsprachige Texte kommen als Objekt je Sprache; mit `lang` als String in dieser Sprache.
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            pattern: '^[A-Za-z]{2,3}$'
          description: "ISO 3166-1 alpha-2 oder alpha-3 Code (z.B. DE oder DEU)"
        - name: lang
          in: query
          schema:
            type: string
            enum: [de, en, nl]
          description: "Nur diese Sprache statt aller Sprachen"
        - name: year
          in: query
          schema:
            type: integer
            minimum: 1970
            maximum: 2100
          description: "Jahr der Feiertage (Standard: laufendes Jahr)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/CountryDetail'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /regions:
    get:
      tags: [Basisdaten]
      summary: Regionen auflisten
      description: |
        Gibt eine Liste aller Regionen zurück.
        Optional nach Land filterbar.
      parameters:
        - name: country
          in: query
          schema:
            type: string
            maxLength: 3
          description: "Filter nach Ländercode – ISO alpha-2 (z.B. DE) oder alpha-3 (z.B. DEU)"
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Region'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

  /event-categories:
    get:
      tags: [Basisdaten]
      summary: Verfügbare Event-Typen auflisten
      description: |
        Gibt eine Liste aller aktiven Event-Typen zurück.
        Nützlich um die gültigen Werte für den event_category-Filter zu ermitteln.
      responses:
        '200':
          description: Erfolgreiche Abfrage
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventCategory'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "API-Token im Format \"Bearer {token}\""

  schemas:
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: UUID des Events
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          example: Earthquake in Turkey
        description:
          type: string
          nullable: true
          example: A 6.2 magnitude earthquake struck southeastern Turkey.
        risk_level:
          type: string
          enum: [high, medium, low, info]
          example: high
        start_date:
          type: string
          format: date-time
          nullable: true
          example: "2025-03-15T08:30:00Z"
        end_date:
          type: string
          format: date-time
          nullable: true
          description: "null = andauernd"
          example: null
        latitude:
          type: number
          format: float
          nullable: true
          example: 37.7749
        longitude:
          type: number
          format: float
          nullable: true
          example: 35.3214
        event_categories:
          type: array
          items:
            $ref: '#/components/schemas/EventCategory'
        countries:
          type: array
          items:
            $ref: '#/components/schemas/EventCountry'
        source:
          $ref: '#/components/schemas/EventSource'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EventCategory:
      type: object
      properties:
        code:
          type: string
          example: security
        name:
          type: string
          example: Sicherheit

    Region:
      type: object
      properties:
        id:
          type: integer
          example: 42
        name_de:
          type: string
          example: Bayern
        name_en:
          type: string
          example: Bavaria
        code:
          type: string
          example: BY
        country_iso_code:
          type: string
          nullable: true
          example: DE
        country_name_de:
          type: string
          nullable: true
          example: Deutschland
        lat:
          type: number
          format: float
          nullable: true
          example: 48.7904
        lng:
          type: number
          format: float
          nullable: true
          example: 11.4979

    ContinentItem:
      type: object
      properties:
        code:
          type: string
          example: EU
        name_de:
          type: string
          example: Europa
        name_en:
          type: string
          example: Europe
        lat:
          type: number
          format: float
          nullable: true
          example: 54.526
        lng:
          type: number
          format: float
          nullable: true
          example: 15.2551

    EventCountry:
      type: object
      properties:
        iso_code:
          type: string
          example: TR
        iso3_code:
          type: string
          example: TUR
        name_de:
          type: string
          example: Tuerkei
        name_en:
          type: string
          example: Turkey
        continent:
          type: string
          nullable: true
          example: Asia
        latitude:
          type: number
          format: float
          nullable: true
          description: Breitengrad (Event-Standort im Land)
          example: 37.7749
        longitude:
          type: number
          format: float
          nullable: true
          description: Längengrad (Event-Standort im Land)
          example: 35.3214

    Country:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name_de:
          type: string
          example: Deutschland
        name_en:
          type: string
          example: Germany
        continent:
          type: string
          nullable: true
          example: Europe
        continent_de:
          type: string
          nullable: true
          example: Europa
        lat:
          type: number
          format: float
          nullable: true
          example: 51.1657
        lng:
          type: number
          format: float
          nullable: true
          example: 10.4515
        is_eu_member:
          type: boolean
          example: true
        is_schengen_member:
          type: boolean
          example: true

    TranslatedText:
      description: "Text je Sprache; mit ?lang= ein einzelner String"
      oneOf:
        - type: object
          additionalProperties:
            type: string
          example: {de: "Deutschland", en: "Germany", nl: "Duitsland"}
        - type: string

    CountryDetail:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name:
          $ref: '#/components/schemas/TranslatedText'
        continent:
          type: object
          nullable: true
          properties:
            code: {type: string, example: EU}
            name: {$ref: '#/components/schemas/TranslatedText'}
        territory:
          type: object
          properties:
            type: {type: string, enum: [sovereign, dependent, disputed, special], nullable: true}
            type_label: {type: string, nullable: true}
            parent_country:
              type: object
              nullable: true
              properties:
                iso_code: {type: string}
                name: {$ref: '#/components/schemas/TranslatedText'}
        membership:
          type: object
          properties:
            eu: {type: boolean}
            schengen: {type: boolean}
        currency:
          type: object
          nullable: true
          properties:
            code: {type: string, example: EUR}
            name: {type: string, nullable: true}
            symbol: {type: string, nullable: true}
        phone_prefix: {type: string, nullable: true, example: "+49"}
        timezone: {type: string, nullable: true, example: Europe/Berlin}
        languages:
          type: array
          items: {type: string}
        population: {type: integer, nullable: true}
        area_km2: {type: number, nullable: true}
        coordinates:
          type: object
          nullable: true
          properties:
            lat: {type: number}
            lng: {type: number}
        flag:
          type: object
          properties:
            svg_url: {type: string, nullable: true}
            emoji: {type: string, nullable: true}
        description:
          type: object
          properties:
            short: {$ref: '#/components/schemas/TranslatedText'}
            long: {$ref: '#/components/schemas/TranslatedText'}
            known_for:
              description: "Stichworte je Sprache; mit ?lang= ein Array"
              oneOf:
                - type: object
                  additionalProperties:
                    type: array
                    items: {type: string}
                - type: array
                  items: {type: string}
        travel_info:
          type: object
          properties:
            intro: {$ref: '#/components/schemas/TranslatedText'}
            driving_side: {type: string, enum: [right, left], nullable: true}
            driving_side_label: {type: string, nullable: true}
            emergency:
              type: object
              properties:
                general: {type: string, nullable: true}
                police: {type: string, nullable: true}
                ambulance: {type: string, nullable: true}
                fire: {type: string, nullable: true}
            religions:
              type: array
              items:
                type: object
                properties:
                  key: {type: string, example: christianity}
                  name: {$ref: '#/components/schemas/TranslatedText'}
            national_day:
              type: object
              nullable: true
              properties:
                date: {type: string, format: date, description: "Jahr kann das historische sein"}
                day_month: {type: string, example: "10-03"}
                name: {$ref: '#/components/schemas/TranslatedText'}
        power:
          type: object
          properties:
            voltage: {type: integer, nullable: true, example: 230}
            frequency: {type: integer, nullable: true, example: 50}
            plug_types:
              type: array
              items:
                type: object
                properties:
                  type: {type: string, example: F}
                  description: {type: string}
                  image: {type: string, format: uri}
            notes: {$ref: '#/components/schemas/TranslatedText'}
        tipping:
          type: object
          description: "Je Bereich hotels, guides, restaurants, taxi eine Angabe oder null"
          additionalProperties:
            type: object
            nullable: true
            properties:
              mode: {type: string, enum: [range, fixed]}
              from: {type: number, nullable: true}
              to: {type: number, nullable: true}
              unit: {type: string, enum: [percent, amount], nullable: true}
              currency: {type: string, nullable: true}
              description: {$ref: '#/components/schemas/TranslatedText'}
        taxi_apps:
          type: array
          items:
            type: object
            properties:
              name: {type: string}
              description: {$ref: '#/components/schemas/TranslatedText'}
              logo_url: {type: string, nullable: true}
              website_url: {type: string, nullable: true}
              app_store_url: {type: string, nullable: true}
              play_store_url: {type: string, nullable: true}
        mobile_operators:
          type: array
          items:
            type: object
            properties:
              name: {type: string}
              description: {$ref: '#/components/schemas/TranslatedText'}
              logo_url: {type: string, nullable: true}
              website_url: {type: string, nullable: true}
              prepaid_url: {type: string, nullable: true}
              offers_esim: {type: boolean}
        holidays:
          type: object
          properties:
            year: {type: integer, example: 2026}
            items:
              type: array
              items:
                type: object
                properties:
                  id: {type: integer}
                  date: {type: string, format: date}
                  weekday: {type: integer, description: "ISO-Wochentag, 1 = Montag"}
                  name: {$ref: '#/components/schemas/TranslatedText'}
                  comment: {$ref: '#/components/schemas/TranslatedText'}
                  is_national: {type: boolean}
                  regions:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: integer}
                        code: {type: string, nullable: true}
                        name: {$ref: '#/components/schemas/TranslatedText'}
        images:
          type: object
          properties:
            hero: {$ref: '#/components/schemas/CountryImage'}
            hero_url: {type: string, nullable: true}
            gallery:
              type: array
              items: {$ref: '#/components/schemas/CountryImage'}
        risk_profile:
          type: object
          nullable: true
          properties:
            overall:
              type: object
              properties:
                level: {type: integer, nullable: true, minimum: 1, maximum: 5}
                label: {type: string, nullable: true}
            categories:
              type: object
              description: "security, health, natural_hazards, infrastructure, entry, climate, culture_law"
              additionalProperties:
                type: object
                properties:
                  label: {type: string}
                  fields:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        value:
                          nullable: true
                          description: "Stufe 1–5, Ja/Nein, Zahl, Liste oder Text"
                        label: {type: string, nullable: true, description: "nur bei Stufen"}
                        note: {$ref: '#/components/schemas/TranslatedText'}
        updated_at: {type: string, format: date-time}

    CountryImage:
      type: object
      nullable: true
      properties:
        id: {type: integer}
        kind: {type: string, enum: [hero, gallery]}
        url: {type: string, format: uri}
        thumb_url: {type: string, format: uri}
        width: {type: integer, nullable: true}
        height: {type: integer, nullable: true}
        focal:
          type: object
          properties:
            x: {type: number, nullable: true}
            y: {type: number, nullable: true}
        alt: {$ref: '#/components/schemas/TranslatedText'}
        caption: {$ref: '#/components/schemas/TranslatedText'}
        credit: {type: string, nullable: true}
        license: {type: string, nullable: true}
        source_url: {type: string, nullable: true}

    CountryWithEvents:
      type: object
      properties:
        iso_code:
          type: string
          example: DE
        iso3_code:
          type: string
          example: DEU
        name_de:
          type: string
          example: Deutschland
        name_en:
          type: string
          example: Germany
        continent:
          type: string
          nullable: true
          example: Europe
        continent_de:
          type: string
          nullable: true
          example: Europa
        lat:
          type: number
          format: float
          nullable: true
          example: 51.1657
        lng:
          type: number
          format: float
          nullable: true
          example: 10.4515
        is_eu_member:
          type: boolean
          example: true
        is_schengen_member:
          type: boolean
          example: true
        active_events_count:
          type: integer
          example: 3

    EventSource:
      type: object
      description: Herkunft des Events
      properties:
        type:
          type: string
          description: "Quelle: manual, api_client, passolution_infosystem, etc."
          example: api_client
        name:
          type: string
          nullable: true
          description: Name des API-Partners (bei API-Client-Events)
          example: Partner XY GmbH

    NearbyLocation:
      type: object
      description: Der aufgelöste Suchmittelpunkt der Umkreissuche
      properties:
        code:
          type: string
          description: "Nur vorhanden, wenn die Suche über `code` erfolgte"
          example: MUC
        name:
          type: string
          description: "Nur vorhanden, wenn die Suche über `code` erfolgte"
          example: Munich International Airport
        latitude:
          type: number
          format: float
          example: 48.353802
        longitude:
          type: number
          format: float
          example: 11.7861
        radius_km:
          type: number
          format: float
          example: 250

    PaginationMeta:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 25
        total:
          type: integer
          example: 142
        last_page:
          type: integer
          example: 6

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string

    ValidationError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            risk_level: ["The selected risk_level is invalid."]
            per_page: ["The per page field must be between 1 and 100."]

  responses:
    Unauthenticated:
      description: Nicht authentifiziert – Token fehlt oder ungültig
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Unauthenticated.

    Forbidden:
      description: Zugriff verweigert
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Token does not have the required permissions.

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            message: Event not found

    ValidationError:
      description: Validierungsfehler
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    TooManyRequests:
      description: Rate Limit überschritten (60 Requests pro Minute)
      headers:
        Retry-After:
          schema:
            type: integer
          description: Sekunden bis zum nächsten erlaubten Request
